@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Sansita&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
  color:#CCA4A6;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Sansita;
  font-weight: bold;
  background: #fff;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

body{
  background-color: #f1e2e3;
}


/*INICIO CONTEUDO TODO ALINHADO*/
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}
/*FIM CONTEUDO TODO ALINHADO*/

/*INICIO QUIZ*/

.titulo-inicial{
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  font-family: Sansita;
  color:#3b4744;
}

.quiz-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.quiz-section h1{
  font-family: Sansita;
  font-size: 25px;
}

.quiz-section p{
  font-family: Sansita;
  font-size: 17px;
  width: 350px;
  text-align: center;
}

.card{
  /* margin-top: 10px; */
  background-color: #3b4744;
  padding: 30px;
  width: 350px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Sansita;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px rgba(58, 58, 58, 0.322);
}
#lista{
  font-size: 16px
}

.card h1{
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.card h1:hover{
  color:  #eccfd1;
  transition: 1s;
}

.card p{
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
  color: #fff;
}

.card button {
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 150px;
  font-family: Sansita;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 10px 10px 10px rgba(58, 58, 58, 0.274);
}

.card button:hover{
  background-color: #eccfd1;
  transform: scale(1.2);
  transition: all 0.5s;
}

.card select{
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.747);
}

#resultado{
  font-size: 31px;
  text-align: center;
  color: #eccfd1;
  font-weight: bold;
}
/*FIM QUIZ*/

/*INICIO - SORTEIO*/

#sorteio{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Sansita;
  margin-top: 20px;
  /* margin-bottom: 20px; */
}

.sorteios{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sorteios button{
  background-color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  color: #000;
  font-size: 15px;
  font-family: Sansita;
  box-shadow: 10px 10px 10px rgba(58, 58, 58, 0.274);
}

.sorteios button:hover{
  background-color: #eccfd1;
  transform: scale(1.2);
  transition: all 0.5s;
}

.sorteios h1{
  font-size: 20px;
  color: #fff;
}

.sorteios h1:hover{
  color: #eccfd1;
  transition: 1s;
}

.sorteios p{
  font-size: 18px;
  color: #fff;
}

/*FIM - SORTEIO*/