@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Sansita&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
  color:#CCA4A6;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Sansita;
  font-weight: bold;
  background: #fff;
  height: 8vh;
}

body {
  background: url("../imgs/fundo_home.png") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}


/* INICIO Texto do centro*/

.texto-sobre{
  margin-top: 90px;
  margin-left: 100px;
}


.texto-sobre h1{
  font-size: 70px;
  color: #CCA4A6;
  font-family: Sansita;
}
.texto-sobre p{
  font-size:18px;
  width: 500px;
  color: #000;
  font-family: Sansita;
}


#btn_index{
  background-color: #CCA4A6;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  color: #000;
  font-size: 15px;
  font-family: Sansita;
  box-shadow: 10px 10px 10px rgba(58, 58, 58, 0.274);
}

/*FIM Texto do centro*/

/* FOOTER */

footer {
  background-color: #CCA4A6;
  height: 55px;
  color: #000;
  display: flex;
  font-size: 15px;
  font-family: Sansita;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}
