@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Sansita&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Sansita;
}


/*INICIO header*/
a {
    color: #000;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
    color:#CCA4A6;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Sansita;
    font-weight: bold;
    background: #fff;
    height: 8vh;
  }
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }

  .sair{
    cursor: pointer;
  }
  

/*CONTEUDO*/

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.titulo h1 {
  font-size: 70px;
  color: #CCA4A6;
}

.titulo p{
  font-size: 30px;
}

.citacao{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  margin-top: 30px;
  color: #647973;
}

.frase p{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  width: 900px;
  margin-top: 20px;
  font-weight: normal;
}

.cards{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.card{
  width: 250px;
  padding: 10px;
  text-align: center;
  transition: 1.5s;
}
.card h1:hover{
  transition: 1.5s;
  color: #647973;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}



/* FOOTER */

.footer {
  background-color: #32b9cd;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
}